

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
  margin-top: inherit;
}

.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input {
  width: 19rem;
}

.recentButton {
  text-align: center;
  justify-content: space-evenly !important;
  margin-top: 1rem !important;
}

.submitbtn{
height: 45px;
}

.ui.menu .item {
color: #dadada;
}

.post-content {
  display: flex;
}
.ui.secondary.menu {
background-color: #2c2e31;
border-radius: 0.7rem;
}

.ui.button {
  border-radius: 3rem;
}

.ui.basic.label{
  color: #f2711c;
  background-color: beige;
}
.ui.basic.button, .ui.basic.buttons .button{
  color: #f2711c!important;
}
.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
  border-radius: 3rem !important;
  background-color: #ffffff 
}

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
padding: 1rem 3rem;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ui.labeled.button>.button {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.ui.labeled.button>.label {
  border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

.ui.menu .yellow.active.item, .ui.yellow.menu .active.item {
  color: #2185d0 !important;
  border-color: #2185d0 !important;
}
body {
  background-color: rgb(35, 35, 35);
  color:#2185d0; /* set the text color to white to ensure visibility */
  height: 100%; /* set the height to 100% to fill the entire viewport */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.ui.fluid.card {
  background-color:rgb(235, 235, 235);
}

.form-container {
    width: 400px;
    margin: auto;
}

/***** Like Button Styling *****/
.ui.green.button:focus,
.ui.green.buttons .button:focus {
  background-color: #215eba
}

.ui.form {
  text-align: center;
}

.ui.grid>.row {
  justify-content: center;
}

img{
  border-radius: 0.5rem;
}

.ui.form .fields {
  display: inline-flex;
  flex-direction: unset;
  margin-top: 0.5rem;
  justify-content: center;
  text-align: center;
}

.ui.form .field>label {
  color:beige;
  font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: large;
}
